# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=juk -caption "%c" %i %m  
Icon=juk.png
DocPath=juk/index.html
Comment=
Terminal=0
Name=JuK
Categories=Qt;KDE;AudioVideo
