# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=juk -caption "%c" %i %m  
Icon=juk.png
DocPath=juk/index.html
Comment=
Comment[xx]=xxxx
Terminal=0
Name=JuK
GenericName=Music Player
Name[sv]=Juk
Name[xx]=xxJuKxx
Categories=Qt;KDE;AudioVideo
