# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=juk -caption "%c" %i %m
Icon=juk
DocPath=juk/index.html
Comment=
Comment[x-test]=xxxx
Terminal=false
Name=JuK
Name[x-test]=xxJuKxx
GenericName=Music Player
GenericName[x-test]=xxMusic Playerxx
Categories=Qt;KDE;AudioVideo;
