[Desktop Entry]
ServiceTypes=application/ogg,audio/vorbis,audio/x-mp3,audio/x-flac,audio/x-oggflac,audio/x-musepack
Actions=addToCollection

[Desktop Action addToCollection]
Name=Add to JuK Collection
Name[el]=Προσθήκη στη συλλογή του JuK
Name[fr]=Ajouter à la collection de JuK
Name[x-test]=xxAdd to JuK Collectionxx
Icon=juk
Exec=dcop juk Player openFile %u
