<!DOCTYPE kpartgui>
<kpartgui name="juk">
<MenuBar>
	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Action name="file_open"/>
		<Action name="openDirectory"/>
		<Separator/>
		<Action name="file_save"/>
		<Separator/>
		<Action name="remove"/>
		<Separator/>
		<Action name="file_quit"/>
	</Menu>
	<Menu name="view" noMerge="1"><text>&amp;View</text>
		<Action name="showEditor"/>
		<Separator/>
		<Action name="view_redisplay"/>
	</Menu>
	<Menu name="player"><text>&amp;Player</text>
		<Action name="randomPlay"/>
		<Separator/>
		<Action name="playFile"/>
		<Action name="pauseFile"/>
		<Action name="stopFile"/>
	</Menu>
	<Menu name="playlist"><text>Play&amp;list</text>
		<Action name="createPlaylist"/>
		<Action name="openPlaylist"/>
		<Action name="savePlaylist"/>
		<Action name="saveAsPlaylist"/>
		<Action name="renamePlaylist"/>
		<Action name="duplicatePlaylist"/>
		<Action name="deleteItemPlaylist"/>
	</Menu>
	<Menu name="settings" noMerge="1"><text>&amp;Settings</text>
		<Action name="restoreOnLoad"/>
	</Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
	<Action name="file_open"/>
	<Action name="openDirectory"/>
	<Action name="file_save"/>
	<Action name="remove"/>
	<Separator lineSeparator="true"/>
	<Action name="edit_cut"/>
	<Action name="edit_copy"/>
	<Action name="edit_paste"/>
</ToolBar>

<ToolBar name="playToolBar" noMerge="1"><text>Play Toolbar</text>
	<Action name="playFile"/>
	<Action name="pauseFile"/>
	<Action name="stopFile"/>
	<Action name="trackPositionAction"/>
</kpartgui>
