<!DOCTYPE kpartgui>
<kpartgui name="juk">
<MenuBar>
	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Action name="file_new"/>
		<Action name="file_open"/>
		<Action name="openDirectory"/>

		<Separator/>

		<Action name="renamePlaylist"/>
		<Action name="duplicatePlaylist"/>
		<Action name="deleteItemPlaylist"/>

		<Separator/>

		<Action name="file_save"/>
		<Action name="file_saveas"/>

		<Separator/>

		<Action name="file_quit"/>
	</Menu>
	<Menu name="view" noMerge="1"><text>&amp;View</text>
		<Action name="showEditor"/>

		<Separator/>

		<Action name="view_redisplay"/>
	</Menu>
	<Menu name="player"><text>&amp;Player</text>
		<Action name="randomPlay"/>

		<Separator/>

		<Action name="play"/>
		<Action name="pause"/>
		<Action name="stop"/>
		<Action name="back"/>
		<Action name="forward"/>
	</Menu>
	<Menu name="playlist"><text>Tagger</text>
		<Action name="saveItem"/>
		<Action name="removeItem"/>
	</Menu>
	<Menu name="settings" noMerge="1"><text>&amp;Settings</text>
		<Action name="showGenreListEditor"/>
		<Action name="restoreOnLoad"/>
		<Action name="toggleSystemTray"/>
		<Action name="outputSelect"/>
	</Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
	<Action name="file_new"/>
	<Action name="file_open"/>
	<Action name="file_save"/>

	<Separator lineSeparator="true"/>

	<Action name="edit_cut"/>
	<Action name="edit_copy"/>
	<Action name="edit_paste"/>

	<Separator lineSeparator="true"/>

	<Action name="showEditor"/>
</ToolBar>

<ToolBar name="playToolBar" noMerge="1"><text>Play Toolbar</text>
	<Action name="play"/>
	<Action name="pause"/>
	<Action name="stop"/>

	<Separator lineSeparator="false"/>	

	<Action name="back"/>
	<Action name="forward"/>
	<Action name="trackPositionAction"/>
</kpartgui>
