# KDE Config File
[Desktop Entry]
Type=Application
Exec=juk -caption %c %i
Icon=juk
X-DocPath=juk/index.html
X-DBUS-StartupType=Unique
Comment=
Terminal=false
Name=JuK
GenericName=Music Player
Categories=Qt;KDE;AudioVideo;Player;
